h1 {
    border: 9px rgb(98, 240, 185); /*grosor del borde, color y estilo del borde*/
    border-radius: 9px; /*radio del borde */
    /*width: 10%;  define ancho del borde */
    display: inline-block; /* ajusta el tamanno del borde al texto*/
    text-align: center; /* alinea el texto dentro del borde */
    color: black; /* modifica indentificador etiquetas con 'id' titulo */
    background-color: rgb(213, 227, 228);
}

h2 {
    color: rgb(86, 84, 202);
}

h3 {
    color: rgb(170, 78, 206);
}


#titulo{
    border: 9px black solid; /*grosor del borde, color y estilo del borde*/
    border-radius: 9px; /*radio del borde */
    /*width: 10%;  define ancho del borde */
    display: inline-block; /* ajusta el tamanno del borde al texto*/
    text-align: center; /* alinea el texto dentro del borde */
    color: rgb(98, 240, 185); /* modifica indentificador etiquetas con 'id' titulo */
    background-color: black;
    font-family: 'Major Mono Display' ;
}

h2 {
    color: rgb(55, 196, 62); /* Define color etiquetas h1 */
}

#titulo_sobre_mi{
    border: 9px black solid; /*grosor del borde, color y estilo del borde*/
    border-radius: 9px; /*radio del borde */
    /*width: 10%;  define ancho del borde */
    display: inline-block; /* ajusta el tamanno del borde al texto*/
    text-align: center; /* alinea el texto dentro del borde */
    color: rgb(98, 240, 185); /* modifica indentificador etiquetas con 'id' titulo */
    background-color: black;
    font-family: 'Major Mono Display' ;
}
#proyectos{
    border: 9px black solid; /*grosor del borde, color y estilo del borde*/
    border-radius: 9px; /*radio del borde */
    /*width: 10%;  define ancho del borde */
    display: inline-block; /* ajusta el tamanno del borde al texto*/
    text-align: center; /* alinea el texto dentro del borde */
    color: rgb(98, 240, 185); /* modifica indentificador etiquetas con 'id' titulo */
    background-color: black;
    font-family: 'Major Mono Display' ;
}
#experiencias{
    border: 9px black solid; /*grosor del borde, color y estilo del borde*/
    border-radius: 9px; /*radio del borde */
    /*width: 10%;  define ancho del borde */
    display: inline-block; /* ajusta el tamanno del borde al texto*/
    text-align: center; /* alinea el texto dentro del borde */
    color: rgb(98, 240, 185); /* modifica indentificador etiquetas con 'id' titulo */
    background-color: black;
    font-family: 'Major Mono Display' ;
}
#blog{
    border: 9px black solid; /*grosor del borde, color y estilo del borde*/
    border-radius: 9px; /*radio del borde */
    /*width: 10%;  define ancho del borde */
    display: inline-block; /* ajusta el tamanno del borde al texto*/
    text-align: center; /* alinea el texto dentro del borde */
    color: rgb(98, 240, 185); /* modifica indentificador etiquetas con 'id' titulo */
    background-color: black;
    font-family: 'Major Mono Display' ;
}
#contacto{
    border: 9px black solid; /*grosor del borde, color y estilo del borde*/
    border-radius: 9px; /*radio del borde */
    /*width: 10%;  define ancho del borde */
    display: inline-block; /* ajusta el tamanno del borde al texto*/
    text-align: center; /* alinea el texto dentro del borde */
    color: rgb(98, 240, 185); /* modifica indentificador etiquetas con 'id' titulo */
    background-color: black;
    font-family: 'Major Mono Display' ;
}

.link{
    display: block;
    width: 100px;
    margin-bottom: 5px;
    text-align: center;
    border: 9px rgb(98, 240, 185); /*grosor del borde, color y estilo del borde*/
    border-radius: 9px; /*radio del borde */
    padding: 10px;
    background-color: rgb(213, 227, 228);
}
.link a{
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: black; /* Color del texto del enlace */
}

.link2{
    display: inline-block;
    width: 5%;
    margin-bottom: 5px;
    text-align: center;
    border: 9px rgb(98, 240, 185); /*grosor del borde, color y estilo del borde*/
    border-radius: 9px; /*radio del borde */
    padding: 10px;
    background-color: rgb(213, 227, 228);
}
.link2 a{
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: black; /* Color del texto del enlace */
}
/* IMAGENES IMAGENES IMAGENES IMAGENES IMAGENES IMAGENES */

#imagen {
    font-size: large;

    background-color:rgba(180, 137, 19, 0.932) ; /* el RGBA aplica los colores rgb + un ultimo valor para la opacidad */
    /* opacity: 0.3; */ /* marca la opacidad fuera del background-color*/
    height: 100px;
    background-image: url('bot.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#imagen pre{
    color: rgba(0, 0, 0, 1);
    opacity: 0.2;
}

/* Caracteristicas links */
a:link{
    color:blueviolet;
}

body {
    background-color: lightblue; /* Puedes usar nombres de colores */
    background-color: #ADD8E6;  /* O códigos hexadecimales */
    background-color: rgb(173, 216, 230); /* O valores RGB */
    margin: 20px; /* Elimina el margen por defecto del body */
    padding: 100px; /* Elimina el padding por defecto del body */
}